<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2009年，因为高考而选择计算机专业。</p>
        <p>2013年-2016年，在金陵攻读计算机软件与理论专业硕士，期间在导师推荐的公司实习。</p>
        <p>2016年，国庆节开始沪漂，主要在第三方支付公司和互联网金融公司从业。</p>
        <p>2019年，加入一家互联网创业公司，见证了公司从底层技术组件构建到上层业务应用的光辉历史。</p>
        <p>2012年，开始写博客；</p>
        <p>2018年，关注了纯洁的微笑，并学习微笑哥建站；</p>
        <p>202x年，选择成为一名自由人，开启探索未来世界的奇妙旅程。</p>
        <p>希望有一天可以赚很多的钱，实现菜场自由。</p>
        <p>我是程猿薇茑，一个向往自由的理想主义者。</p>

         <p>
          <strong>个人公众号</strong>：<a href="http://www.bigbirditedu.com/assets/images/cywn_430.jpg" target="_blank">程猿薇茑（ID：gh_44dff70e0686）</a>，“分享技术、分享快乐”欢迎关注
        </p>

        <p><strong>关于名字</strong></p>

        <p>"程猿薇茑"取自"尘缘未了"谐音，程序员化作"程猿"，薇、茑泛指花、木，象征自然、素美，生生向上。采用这个笔名也是为了体现与软件编程这个行业的缘分以及对大自然自由生长的向往！</p>

     
        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>zpcand</strong>（备注：非诚勿扰）</li>
        </ul>

       <h2>
         大事记
       </h2>

       <ul>
            <li>2019年，建站，托管于 Github Pages。</li>
            <li>2020年，博客访问量突破十万。</li>
            <li>2020年，博客迁移到腾讯云服务器。</li>
        </ul>

       <h2>
         关注微信公众号
       </h2>

       <p>本站所有文章和源码都是小编一个字一个字码出来的，您如果喜欢欢迎关注微信公众号,不定期推送高质量的文章哦！
       </p>

       <p align="center">
         <img src="http://www.bigbirditedu.com/assets/images/cywn_small.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
