<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="/assets/images/{{ page.copyright }}.jpg" >
         <br/>
         微信扫描二维码，关注我的公众号
        {% else %}
         <img src="/assets/images/chengyuanweiniao.jpg" >
         <br/>
         微信扫描二维码，关注会说故事的程序员
        {% endif %}

   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://www.bigbirditedu.com">程猿薇茑-bigbird</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="https://blog.csdn.net/hellozpc" target="_blank">点击了解 ：鸟哥的专栏</a></strong>
   </p>
</div>